body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(250, 250, 238);
}

header {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: lightgreen;
}

header h1 {
    margin: 20px auto;
}

header a {
    text-decoration: none;
    color: darkslategrey;
}

/* style forms */
#research-forms {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

label {
    font-size: 20px;
    font-weight: 500;
}

.personal-info label {
    margin-left: 10px;
}

#research-forms input[type=text],
input[type=number],
input[type=email] {
    width: 200px;
    height: 24px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 6px;
    border:none;
    border-radius: 10px;
    background-color: lightgreen;
}

#research-forms input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus {
    border: 1px solid darkslategray;
    background-color: greenyellow;
    outline: none;
    height: 22px;
    width: 198px;
}

#research-forms input[type=range] {
    width: 200px;
    margin-bottom: 20px;
}

#research-forms input[type="range"] {
    -webkit-appearance: none;
    margin-top: 10px;
    border-radius: 5px;
    width: 30vw;
    background-color: lightgreen;
    cursor: pointer;
}

/* stylizing the slider */
#research-forms input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 36px;
    width: 16px;
    border: 1px solid darkslategray;
    border-radius: 3px;
    background: lightgreen;
    cursor: pointer;
    margin-top: -10px;
    transition: all ease-in 0.2s;
}

#research-forms input[type=range]::-webkit-slider-thumb:hover {
    transform: translate(0, -2px);
    box-shadow: 0 3px darkslategray;
    background-color: greenyellow;
}

#submit-button {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    margin-top: 20px;
    outline: none;
    border: none;
    font-size: 24px;
    background-color: lightgreen;
    color: darkslategrey;
    cursor: pointer;
    transition: all ease-in 0.2s;
}

#submit-button:hover {
    transform: scale(1.01);
    border: 1px solid darkslategray;
    transform: translate(0, -2px);
    box-shadow: 0 3px darkslategray;
    background-color: greenyellow;
}

#submit-button:active {
    transform: scale(1.01);
    border: 1px solid darkslategray;
    transform: translate(0, 2px);
    background-color: greenyellow;
    box-shadow: none;
}

/* style da tabela */
table {
    background-color: rgb(253, 247, 247);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-bottom: 20px;
}

th {
    font-size: 20px;
    padding: 20px;

}

tbody {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

tbody tr {
    background-color: lightgreen;
    color: darkslategrey;
}

/* style do gráfico */
.chart {
    margin: auto;
    margin-top: 50px;
    width: 40%;

}